.item {
    text-align: left;

    button {
        background: transparent;
        border: unset;
        outline: none;
        opacity: 1;
        transition: opacity 0.3s;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &--completed {
        button {
            text-decoration: line-through;
            opacity: 0.8;

            &:hover {
                text-decoration: line-through;
                opacity: 1;
            }
        }
    }
}

.button {
    text-transform: uppercase;
}
